.skill-container{
    position: relative;
    text-align: center;
    font-size: 40px;
    top: 100px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.skill-container::before{
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.skill-container::after{
    content: "what is know";
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
.skill-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    position: relative;
}
.skill-left{
    width: 550px;
    margin-left: 70px;
}
.skill-left h2{
    font-size: 25px;
}
.skill-left p{
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
}
.skill-left a{
    display: inline-block;
    background: crimson;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;;
}
.skill-left a:hover{
    background-color: white;
    color: crimson;
}
.skill-right{
    width: 600px;
}

/*-------- work skill percentage ------*/
.work-Percentage{
    display: flex;
    justify-content: space-between;
}
.work-Percentage span{
    font-size: 20px;
    font-weight: bold;
}
.html-line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.html-line::before{
    content:"";
    width: 90%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.css-line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.css-line::before{
    content:"";
    width: 70%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.bootstrap-line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.bootstrap-line::before{
    content:"";
    width: 75%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.java-line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.java-line::before{
    content:"";
    width: 60%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.react-line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.react-line::before{
    content:"";
    width: 60%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

/*--------- media query ---------*/

@media only screen and (max-width:688px) {
    .skill-info{
        grid-template-columns: repeat(1, 1fr);
    }
    .skill-left{
        width: 320px;
        margin: auto;
    }
    .skill-right{
        width: 320px;
        margin: auto;
    }
}
@media only screen and (min-width: 689px) and (max-width:991px) {
    .skill-info{
        grid-template-columns: repeat(2,1fr);
    }
    .skill-left{
        width: 320px;
        margin: auto;
    }
    .skill-right{
        width: 320px;
        margin: auto;
    }
}
